<!DOCTYPE html>
<html>
<head>
	<title>Untitled</title>
	<link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>

<div id="main"></div>

<div id="page_controls">
	<span id="message-composer"></span>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="js/socketConnector.js"></script>
<script src="js/components.js"></script>
<script src="js/app.js"></script>

</body>
</html>
